# Dependabot configuration for automated dependency updates
# https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
# Monitor Composer dependencies
- package-ecosystem: composer
  directory: /
  schedule:
    interval: daily
  labels:
  - dependencies
  - composer
  commit-message:
    prefix: deps
    include: scope

# Monitor GitHub Actions
- package-ecosystem: github-actions
  directory: /
  schedule:
    interval: daily
  labels:
  - dependencies
  - github-actions
  commit-message:
    prefix: deps
    include: scope
