name: Composer Validate

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  composer-validate:
    name: Validate composer.json
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.2'
        extensions: json, curl
        coverage: none
        tools: composer:v2

    - name: Validate composer.json
      run: composer validate --strict
